@model IEnumerable<Bookish.Web.Models.Borrow>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BorrowDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BorrowReturn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Borrower.FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BorrowDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BorrowReturn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Borrower.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BorrowID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BorrowID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BorrowID })
        </td>
    </tr>
}

</table>
